body {
    overflow: hidden;
}
.frame {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
}
#vid {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg);
    /* Firefox */
    margin-bottom: -100vh;
}
.title {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 1em;
}
.place-on-table {
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-name: placeontable;
    animation-iteration-count: infinite;
}
@keyframes placeontable {
    from {
        margin-top: 10%;
        height: 30%;
        transform: scale(1.0) scaleZ(1.0);
        transform-origin: 0% 0%;
        perspective: 0;
        -webkit-transform: scale(1.0) scaleZ(1.0);
        -webkit-transform-origin: 0% 0%;
        -webkit-perspective: 0;
        -webkit-perspective-origin: 50% 50%;
        -moz-transform: scale(1.0) scaleZ(1.0);
        -moz-transform-origin: 0% 0%;
        -moz-perspective: 0;
        -moz-perspective-origin: 50% 50%;
        -o-transform: scale(1.0) scaleZ(1.0);
        -o-transform-origin: 0% 0%;
        -o-perspective: 0;
        -o-perspective-origin: 50% 50%;
        -ms-transform: scale(1.0) scaleZ(1.0);
        -ms-transform-origin: 0% 0%;
        -ms-perspective: 0;
        -ms-perspective-origin: 50% 50%;
        transform: scale(1.0) scaleZ(1.0);
        transform-origin: 0% 0%;
        perspective: 0;
        perspective-origin: 50% 50%;
    }
    to {
        margin-top: 70%;
        height: 20%;
        transform: scale(1.0) scaleZ(1.0) rotateX(75deg) rotateZ(-49deg);
        transform-origin: 0% 0%;
        perspective: 0;
        -webkit-transform: scale(1.0) scaleZ(1.0) rotateX(75deg) rotateZ(-49deg);
        -webkit-transform-origin: 0% 0%;
        -webkit-perspective: 0;
        -webkit-perspective-origin: 50% 50%;
        -moz-transform: scale(1.0) scaleZ(1.0) rotateX(75deg) rotateZ(-49deg);
        -moz-transform-origin: 0% 0%;
        -moz-perspective: 0;
        -moz-perspective-origin: 50% 50%;
        -o-transform: scale(1.0) scaleZ(1.0) rotateX(75deg) rotateZ(-49deg);
        -o-transform-origin: 0% 0%;
        -o-perspective: 0;
        -o-perspective-origin: 50% 50%;
        -ms-transform: scale(1.0) scaleZ(1.0) rotateX(75deg) rotateZ(-49deg);
        -ms-transform-origin: 0% 0%;
        -ms-perspective: 0;
        -ms-perspective-origin: 50% 50%;
        transform: scale(1.0) scaleZ(1.0) rotateX(75deg) rotateZ(-49deg);
        transform-origin: 0% 0%;
        perspective: 0;
        perspective-origin: 100% 100%;
    }
}
